@media (max-width: 768px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body,
    html {
        width: 100%;
        height: 100%;
        font-family: Roboto;
    }

    a {
        text-decoration: none;
    }

    a:visited {
        color: white;
    }

    header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #e6e6e6;
        width: 100%;
        height: auto;
    }

    .header-nav {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: auto;
        background-color: rgba(0, 0, 0, 0.4);
        padding: 0.3rem 0 0.1rem 0;
    }

    .nav-menu {
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: 40vh;
        justify-content: center;
        align-items: center;
        font-size: 1.4rem;
        gap: 1.5rem;
        top: 2rem;
        color: white;
        background-color: rgba(0, 0, 0, 0.5);
        border: none;
        padding: 1rem 0 1rem 0;
        top: -40vh;
        transition: top 0.3s ease;
        z-index: 100;
    }

    .nav-menu-visible {
        top: 5.1vh;
    }

    .orange-span {
        color: #cc5520;
    }

    .nav-menu i {
        cursor: pointer;
    }

    .image-box:first-child {
        margin-left: 1rem;
    }

    .img-bin {
        margin-right: 0.3rem;
    }

    .black-icons {
        display: none;
    }

    .image-box:last-child {
        margin-right: 1rem;
    }

    .header-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
    }

    .header-text span {
        color: #969595;
        padding-top: 0.5rem;
    }

    .header-text h1 {
        font-size: 3rem;
        padding-bottom: 0.5rem;
    }

    .pc-img {
        display: none;
    }

    main {
        display: flex;
        flex-direction: column;
    }

    .main-text {
        margin: 1.5rem 0.5rem 0.5rem 0.5rem;
        line-height: 1.5rem;
    }

    .main-text h3 {
        margin-bottom: 0.5rem;
        text-align: center;
    }

    .img {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        overflow: hidden;
    }

    .img:last-child {
        margin-bottom: 3rem;
    }

    footer {
        background-color: #1e1e1e;
        color: white;
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
    }

    .social-media {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 1rem;
    }

    .social-media p {
        margin: 0 4rem 0 4rem;
    }

    .foxminded-footer-box {
        padding-top: 3rem;
    }

    .social-media-icons {
        display: flex;
        gap: 1rem;
    }

    .footer-blocks {
        display: flex;
        justify-content: space-between;
        margin: 3rem 2rem 0 2rem;
    }

    .first,
    .second {
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
    }

    .first-blocks,
    .second-blocks {
        display: flex;
        gap: 1rem;
        flex-direction: column;
    }

    .first-blocks h4,
    .second-blocks h4 {
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
    }

    .footer-info {
        text-align: center;
        padding-bottom: 2rem;
        font-weight: bolder;
    }
}

@media only screen and (min-width: 769px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body,
    html {
        width: 100%;
        height: 100%;
        font-family: Roboto;
    }

    a {
        text-decoration: none;
    }

    header {
        width: 100%;
    }

    .header-nav {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height: 5rem;
    }

    .phone-img {
        display: none;
    }

    .dots {
        display: none;
    }

    .nav-menu {
        display: flex;
        gap: 2rem;
    }

    .nav-menu i {
        display: none;
    }

    .orange-span {
        color: #cc5520;
        cursor: pointer;
        text-transform: uppercase;
        font-weight: bold;
    }

    .nav-menu span:not(.orange-span) {
        text-transform: uppercase;
        color: black;
        cursor: pointer;
        font-weight: bold;
    }

    .img-bin {
        margin-right: 2rem;
        cursor: pointer;
    }

    .white-icons {
        display: none;
    }

    .header-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 15vh;
        width: 100%;
        background-color: #e6e6e6;
        gap: 0.5rem;
    }

    .header-text span {
        color: #969595;
    }

    .header-text h1 {
        font-size: 3rem;
    }

    main {
        width: 100%;
        margin-top: 6rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .info-block {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 2rem;
        width: 60%;
        gap: 2rem;
    }

    .img {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 30%;
        overflow: hidden;
        object-fit: contain;
    }

    .main-text {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 40%;
        line-height: 1.5rem;
    }

    .img img {
        height: 100%;
    }

    #first-item {
        order: 2;
    }

    #second-item {
        order: 1;
    }

    footer {
        background-color: #1e1e1e;
        color: white;
        padding: 2rem 0 2rem 0;
    }

    .footer {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .social-media {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 15%;
        height: 100%;
    }

    .social-media-icons {
        display: flex;
        gap: 1rem;
    }

    .footer-blocks {
        display: flex;
        gap: 3rem;
    }

    .first,
    .second {
        display: flex;
        gap: 3rem;
    }

    .first-blocks,
    .second-blocks {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .first-blocks h4,
    .second-blocks h4 {
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
    }

    .footer-info {
        text-align: center;
        padding-top: 2rem;
        font-weight: bolder;
    }

}